In [1]:
import pandas as pd
import os
import re

In [172]:
data_dir = 'D:/abstract/wos_0531/bib_360446/country_number/top20/'
country_list = os.listdir(data_dir)

In [198]:
for file_dir in country_list:
    df=pd.read_csv(data_dir+file_dir)
    if file_dir == 'ALBANIA_57.csv':
        wos_file = df
    else:
        wos_file = pd.concat([wos_file, df], ignore_index=True)

C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,6,47,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,6,47,49,50,59,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,6,11,47,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (73) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,6,47,58) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,6,58) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,3,4,6,10,11,14,15,16,17,18,42,47,49,50,58,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)
C:\Users\Velaciela\AppData\Local\Temp\ipykernel_66336\2531487760.py:2: DtypeWarning: Columns (2,6,11,47,50,58,59,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_dir+file_dir)

In [199]:
wos_file

,Publication Type,Authors,Book Authors,Book Editors,Book Group Authors,Author Full Names,Book Author Full Names,Group Authors,Article Title,Source Title,...,IDS Number,Pubmed Id,Open Access Designations,Highly Cited Status,Hot Paper Status,Date of Export,UT (Unique WOS ID),First Country,Countries,If Independent
0,J,"Soldo, A; Bakiu, R",NaN,NaN,NaN,"Soldo, Alen; Bakiu, Rigers",NaN,NaN,Checklist of marine fishes of Albania,ACTA ADRIATICA,...,TP4BV,NaN,gold,NaN,NaN,2022-06-23,WOS:000677540600007,Croatia,"Croatia,Albania",False
1,J,"Fetahu, E; Yilmaz, O",NaN,NaN,NaN,"Fetahu, Elona; Yilmaz, Oguz",NaN,NaN,A three dimensional dam break flow: Small time...,APPLIED OCEAN RESEARCH,...,RY0GU,NaN,NaN,NaN,NaN,2022-06-23,WOS:000647593800003,Albania,"Turkey,Albania",False
2,J,"Crocetta, F; Al Mabruk, SAA; Azzurro, E; Bakiu...",NaN,NaN,NaN,"Crocetta, Fabio; Al Mabruk, Sara A. A.; Azzurr...",NaN,NaN,New Alien Mediterranean Biodiversity Records (...,MEDITERRANEAN MARINE SCIENCE,...,XC7YT,NaN,NaN,NaN,NaN,2022-06-23,WOS:000722226800002,Italy,"Turkey,Lebanon,Libya,Tunisia,Cyprus,Greece,Mal...",False
3,J,"Tsagarakis, K; Agius Darmanin, S; Al Mabruk, S...",NaN,NaN,NaN,"Tsagarakis, Konstantinos; Agius Darmanin, Sand...",NaN,NaN,New records of rare species in the Mediterrane...,MEDITERRANEAN MARINE SCIENCE,...,WU3QO,NaN,NaN,NaN,NaN,2022-06-23,WOS:000716463300014,Greece,"Turkey,Croatia,Lebanon,Israel,Libya,Cyprus,Gre...",False
4,J,"Pagano, M; Stara, A; Aliko, V; Faggio, C",NaN,NaN,NaN,"Pagano, Maria; Stara, Alzbeta; Aliko, Valbona;...",NaN,NaN,Impact of Neonicotinoids to Aquatic Invertebra...,JOURNAL OF MARINE SCIENCE AND ENGINEERING,...,OL4TS,NaN,gold,NaN,NaN,2022-06-23,WOS:000585335100001,Italy,"Italy,Albania,Czech Republic",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502188,J,"Sibanda, T; Nonner, JC; Uhlenbrook, S",NaN,NaN,NaN,"Sibanda, Tenant; Nonner, Johannes C.; Uhlenbro...",NaN,NaN,Comparison of groundwater recharge estimation ...,HYDROGEOLOGY JOURNAL,...,483ZX,NaN,Green Submitted,NaN,NaN,2022-06-23,WOS:000269013500008,Netherlands,"Netherlands,Zimbabwe",False
502189,J,"Manatsa, D; Chingombe, W; Matarira, CH",NaN,NaN,NaN,"Manatsa, D.; Chingombe, W.; Matarira, C. H.",NaN,NaN,The impact of the positive Indian Ocean dipole...,INTERNATIONAL JOURNAL OF CLIMATOLOGY,...,385JO,NaN,NaN,NaN,NaN,2022-06-23,WOS:000261810700003,Lesotho,"South Africa,Lesotho",False
502190,J,"Manatsa, D; Chingombe, W; Matsikwa, H; Matarir...",NaN,NaN,NaN,"Manatsa, D.; Chingombe, W.; Matsikwa, H.; Mata...",NaN,NaN,The superior influence of Darwin Sea level pre...,THEORETICAL AND APPLIED CLIMATOLOGY,...,274IV,NaN,NaN,NaN,NaN,2022-06-23,WOS:000253995900001,Zimbabwe,"Lesotho,Zimbabwe",False
502191,J,"Lupankwa, M; Stewart, JB; Owen, RJ",NaN,NaN,NaN,"Lupankwa, M; Stewart, JB; Owen, RJ",NaN,NaN,Classification of dambos using remotely sensed...,PHYSICS AND CHEMISTRY OF THE EARTH PART B-HYDR...,...,348LP,NaN,NaN,NaN,NaN,2022-06-23,WOS:000088986500003,Zimbabwe,"England,Zimbabwe",False
502192,J,"Masundire, HM",NaN,NaN,NaN,"Masundire, HM",NaN,NaN,Spatial and temporal variations in the composi...,JOURNAL OF PLANKTON RESEARCH,...,WH662,NaN,Bronze,NaN,NaN,2022-06-23,WOS:A1997WH66200004,ZIMBABWE,ZIMBABWE,True

In [200]:
wos_file.drop_duplicates(subset=['UT (Unique WOS ID)'], keep='first', inplace=True)

In [201]:
wos_file

,Publication Type,Authors,Book Authors,Book Editors,Book Group Authors,Author Full Names,Book Author Full Names,Group Authors,Article Title,Source Title,...,IDS Number,Pubmed Id,Open Access Designations,Highly Cited Status,Hot Paper Status,Date of Export,UT (Unique WOS ID),First Country,Countries,If Independent
0,J,"Soldo, A; Bakiu, R",NaN,NaN,NaN,"Soldo, Alen; Bakiu, Rigers",NaN,NaN,Checklist of marine fishes of Albania,ACTA ADRIATICA,...,TP4BV,NaN,gold,NaN,NaN,2022-06-23,WOS:000677540600007,Croatia,"Croatia,Albania",False
1,J,"Fetahu, E; Yilmaz, O",NaN,NaN,NaN,"Fetahu, Elona; Yilmaz, Oguz",NaN,NaN,A three dimensional dam break flow: Small time...,APPLIED OCEAN RESEARCH,...,RY0GU,NaN,NaN,NaN,NaN,2022-06-23,WOS:000647593800003,Albania,"Turkey,Albania",False
2,J,"Crocetta, F; Al Mabruk, SAA; Azzurro, E; Bakiu...",NaN,NaN,NaN,"Crocetta, Fabio; Al Mabruk, Sara A. A.; Azzurr...",NaN,NaN,New Alien Mediterranean Biodiversity Records (...,MEDITERRANEAN MARINE SCIENCE,...,XC7YT,NaN,NaN,NaN,NaN,2022-06-23,WOS:000722226800002,Italy,"Turkey,Lebanon,Libya,Tunisia,Cyprus,Greece,Mal...",False
3,J,"Tsagarakis, K; Agius Darmanin, S; Al Mabruk, S...",NaN,NaN,NaN,"Tsagarakis, Konstantinos; Agius Darmanin, Sand...",NaN,NaN,New records of rare species in the Mediterrane...,MEDITERRANEAN MARINE SCIENCE,...,WU3QO,NaN,NaN,NaN,NaN,2022-06-23,WOS:000716463300014,Greece,"Turkey,Croatia,Lebanon,Israel,Libya,Cyprus,Gre...",False
4,J,"Pagano, M; Stara, A; Aliko, V; Faggio, C",NaN,NaN,NaN,"Pagano, Maria; Stara, Alzbeta; Aliko, Valbona;...",NaN,NaN,Impact of Neonicotinoids to Aquatic Invertebra...,JOURNAL OF MARINE SCIENCE AND ENGINEERING,...,OL4TS,NaN,gold,NaN,NaN,2022-06-23,WOS:000585335100001,Italy,"Italy,Albania,Czech Republic",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502160,J,"Gwenzi, W; Chinyama, SR; Togarepi, S",NaN,NaN,NaN,"Gwenzi, Willis; Chinyama, Shyleen R.; Togarepi...",NaN,NaN,Concentration-discharge patterns in a small ur...,JOURNAL OF HYDROLOGY,...,EZ6GI,NaN,NaN,NaN,NaN,2022-06-23,WOS:000404816000002,Zimbabwe,Zimbabwe,True
502170,J,"Wuta, M; Nyamadzawo, G; Mlambo, J; Nyamugafata, P",NaN,NaN,NaN,"Wuta, M.; Nyamadzawo, G.; Mlambo, J.; Nyamugaf...",NaN,NaN,Ground and surface water quality along a dambo...,PHYSICS AND CHEMISTRY OF THE EARTH,...,DW0QD,NaN,NaN,NaN,NaN,2022-06-23,WOS:000383345100015,Zimbabwe,Zimbabwe,True
502178,J,"Maguranyanga, C; Murwira, A; Sibanda, M",NaN,NaN,NaN,"Maguranyanga, Caleb; Murwira, Amon; Sibanda, M...",NaN,NaN,"Distinguishing Maize, Soyabean and Tobacco Fie...",JOURNAL OF THE INDIAN SOCIETY OF REMOTE SENSING,...,CD2FN,NaN,NaN,NaN,NaN,2022-06-23,WOS:000350890300009,Zimbabwe,Zimbabwe,True
502187,J,"Manatsa, D; Matarira, CH",NaN,NaN,NaN,"Manatsa, D.; Matarira, C. H.",NaN,NaN,Changing dependence of Zimbabwean rainfall var...,THEORETICAL AND APPLIED CLIMATOLOGY,...,489RI,NaN,NaN,NaN,NaN,2022-06-23,WOS:000269439300014,Zimbabwe,"Lesotho,Zimbabwe",False
502190,J,"Manatsa, D; Chingombe, W; Matsikwa, H; Matarir...",NaN,NaN,NaN,"Manatsa, D.; Chingombe, W.; Matsikwa, H.; Mata...",NaN,NaN,The superior influence of Darwin Sea level pre...,THEORETICAL AND APPLIED CLIMATOLOGY,...,274IV,NaN,NaN,NaN,NaN,2022-06-23,WOS:000253995900001,Zimbabwe,"Lesotho,Zimbabwe",False

In [202]:
wos_file.to_csv('D:/abstract/wos_0531/bib_360446/drop_duplicates_353659.csv', index=False)

In [206]:
print('CP:', len(wos_file[wos_file['If Independent']==False]))
print('IP:', len(wos_file)-len(wos_file[wos_file['If Independent']==False]))

CP: 99005
IP: 254654

In [24]:
for file_dir in country_list:
    file_list = os.listdir(data_dir+file_dir)
    for file in file_list:
        df=pd.read_excel(os.path.join(data_dir+file_dir, file))
        if file == file_list[0]:
            wos_file = df
        else:
            wos_file = pd.concat([wos_file, df], ignore_index=True)
    wos_file.to_csv(data_dir+file_dir+'.csv', index=False)
    print(file_dir)

ALBANIA_57
ALGERIA_406
ANGOLA_23
ANTIGUA_10
ARGENTINA_2392
ARMENIA_44
AUSTRALIA_20434
AUSTRIA_1984
AZERBAIJAN_72
BAHAMAS_65
BAHRAIN_29
BANGLADESH_644
BARBADOS_56
BELARUS_87
BELGIUM_3981
BELIZE_21
BENIN_109
BHUTAN_15
BOLIVIA_84
BOSNIA_39
BOTSWANA_60
BRAZIL_6568
BRUNEI_49
BULGARIA_360
BURKINAFASO_67
BURUNDI_10
CAMBODIA_65
CAMEROON_116
CANADA_20771
CAPEVERDE_21
CHAD_17
CHILE_2813
CHINA_56320
COLUMBIA_645
COSTARICA_210
COTEIVOIRE_72
CROATIA_1229
CUBA_148
CYPRUS_261
CZECH_914
DEMREPCONGO_34
DENMARK_5417
ECUADOR_361
EGYPT_1445
ERITRIA_13
ESTONIA_746
ETHOPIA_458
FIJI_122
FINLAND_2421
FRANCE_23601
GABON_16
GEORGIA_130
GERMANY_23982
GHANA_207
GREECE_3019
GUATEMALA_15
GUINEA_17
GUYANA_14
HONDURAS_21
HONGKONG_159
HUNGARY_508
ICELAND_678
INDIA_13026
INDONESIA_2526
IRAN_3558
IRAQ_322
IRELAND_1734
ISRAEL_2190
ITALY_14159
JAMAICA_103
JAPAN_16361
JORDAN_181
KAZAKHSTAN_147
KENYA_396
KUWAIT_185
KYRGYZSTAN_66
LAOS_54
LATVIA_154
LEBANON_175
LIBYA_49
LITHUANIA_360
LUXEMBOURG_220
MACEDONIA_40
MADAGASCAR_41
MALAWI_34
MALAYSIA_2172
MALDIVES_24
MALI_25
MALTA_155
MAURITANIA_23
MAURITIUS_43
MEXICO_3441
MICRONESIA_14
MOLDOVA_16
MONACO_325
MONGOLIA_88
MONTENEGRO_81
MOROCCO_549
MOZAMBIQUE_94
MYANMAR_68
NAMIBIA_120
NEPAL_201
NETHERLAND_10395
NEWZEALAND_5500
NICARAGUA_18
NIGERIA_581
NIGER_65
NORTHKOREA_18
NORWAY_9482
OMAN_202
PAKISTAN_936
PALAU_45
PALESTINE_25
PANAMA_173
PARAGUAY_14
PERU_494
PHILIPPINES_503
POLAND_3665
PORTUGAL_4771
QATAR_97
REPCONGO_41
ROMANIA_837
RUSSIA_15654
RWANDA_26
SAMOA_21
SAUDIARABIA_1396
SENEGAL_206
SERBIA_308
SEYCHELLES_53
SINGAPORE_1607
SLOVAKIA_329
SLOVENIA_449
SOLOMON_19
SOUTHAFRICA_3039
SOUTHKOREA_7544
SPAIN_13077
SRILANKA_240
SUDAN_73
SWEDEN_5867
SWITZERLAND_4680
SYRIA_53
TAIWAN_6364
TAJIKISTAN_41
TANZANIA_255
THAILAND_860
TOGO_13
TRINIDADTOBAGO_74
TUNISIA_621
TURKEY_3287
UAE_469
UGANDA_78
UKRAINE_835
UK_33571
URAGUAY_361
USA_113096
UZBEKISTAN_60
VANUATU_19
VENEZUELA_244
VIETNAM_1114
YEMEN_53
ZAMBIA_31
ZIMBABWE_72

In [25]:
data_dir = 'D:/abstract/wos_0531/bib_360446/country_number/'
country_list = os.listdir(data_dir)

In [47]:
country_list

['ALBANIA_57.csv',
 'ALGERIA_406.csv',
 'ANGOLA_23.csv',
 'ANTIGUA_10.csv',
 'ARGENTINA_2392.csv',
 'ARMENIA_44.csv',
 'AUSTRALIA_20434.csv',
 'AUSTRIA_1984.csv',
 'AZERBAIJAN_72.csv',
 'BAHAMAS_65.csv',
 'BAHRAIN_29.csv',
 'BANGLADESH_644.csv',
 'BARBADOS_56.csv',
 'BELARUS_87.csv',
 'BELGIUM_3981.csv',
 'BELIZE_21.csv',
 'BENIN_109.csv',
 'BHUTAN_15.csv',
 'BOLIVIA_84.csv',
 'BOSNIA_39.csv',
 'BOTSWANA_60.csv',
 'BRAZIL_6568.csv',
 'BRUNEI_49.csv',
 'BULGARIA_360.csv',
 'BURKINAFASO_67.csv',
 'BURUNDI_10.csv',
 'CAMBODIA_65.csv',
 'CAMEROON_116.csv',
 'CANADA_20771.csv',
 'CAPEVERDE_21.csv',
 'CHAD_17.csv',
 'CHILE_2813.csv',
 'CHINA_56320.csv',
 'COLUMBIA_645.csv',
 'COSTARICA_210.csv',
 'COTEIVOIRE_72.csv',
 'CROATIA_1229.csv',
 'CUBA_148.csv',
 'CYPRUS_261.csv',
 'CZECH_914.csv',
 'DEMREPCONGO_34.csv',
 'DENMARK_5417.csv',
 'ECUADOR_361.csv',
 'EGYPT_1445.csv',
 'ERITRIA_13.csv',
 'ESTONIA_746.csv',
 'ETHOPIA_458.csv',
 'FIJI_122.csv',
 'FINLAND_2421.csv',
 'FRANCE_23601.csv',
 'GABON_16.csv',
 'GEORGIA_130.csv',
 'GERMANY_23982.csv',
 'GHANA_207.csv',
 'GREECE_3019.csv',
 'GUATEMALA_15.csv',
 'GUINEA_17.csv',
 'GUYANA_14.csv',
 'HONDURAS_21.csv',
 'HONGKONG_159.csv',
 'HUNGARY_508.csv',
 'ICELAND_678.csv',
 'INDIA_13026.csv',
 'INDONESIA_2526.csv',
 'IRAN_3558.csv',
 'IRAQ_322.csv',
 'IRELAND_1734.csv',
 'ISRAEL_2190.csv',
 'ITALY_14159.csv',
 'JAMAICA_103.csv',
 'JAPAN_16361.csv',
 'JORDAN_181.csv',
 'KAZAKHSTAN_147.csv',
 'KENYA_396.csv',
 'KUWAIT_185.csv',
 'KYRGYZSTAN_66.csv',
 'LAOS_54.csv',
 'LATVIA_154.csv',
 'LEBANON_175.csv',
 'LIBYA_49.csv',
 'LITHUANIA_360.csv',
 'LUXEMBOURG_220.csv',
 'MACEDONIA_40.csv',
 'MADAGASCAR_41.csv',
 'MALAWI_34.csv',
 'MALAYSIA_2172.csv',
 'MALDIVES_24.csv',
 'MALI_25.csv',
 'MALTA_155.csv',
 'MAURITANIA_23.csv',
 'MAURITIUS_43.csv',
 'MEXICO_3441.csv',
 'MICRONESIA_14.csv',
 'MOLDOVA_16.csv',
 'MONACO_325.csv',
 'MONGOLIA_88.csv',
 'MONTENEGRO_81.csv',
 'MOROCCO_549.csv',
 'MOZAMBIQUE_94.csv',
 'MYANMAR_68.csv',
 'NAMIBIA_120.csv',
 'NEPAL_201.csv',
 'NETHERLAND_10395.csv',
 'NEWZEALAND_5500.csv',
 'NICARAGUA_18.csv',
 'NIGERIA_581.csv',
 'NIGER_65.csv',
 'NORTHKOREA_18.csv',
 'NORWAY_9482.csv',
 'OMAN_202.csv',
 'PAKISTAN_936.csv',
 'PALAU_45.csv',
 'PALESTINE_25.csv',
 'PANAMA_173.csv',
 'PARAGUAY_14.csv',
 'PERU_494.csv',
 'PHILIPPINES_503.csv',
 'POLAND_3665.csv',
 'PORTUGAL_4771.csv',
 'QATAR_97.csv',
 'REPCONGO_41.csv',
 'ROMANIA_837.csv',
 'RUSSIA_15654.csv',
 'RWANDA_26.csv',
 'SAMOA_21.csv',
 'SAUDIARABIA_1396.csv',
 'SENEGAL_206.csv',
 'SERBIA_308.csv',
 'SEYCHELLES_53.csv',
 'SINGAPORE_1607.csv',
 'SLOVAKIA_329.csv',
 'SLOVENIA_449.csv',
 'SOLOMON_19.csv',
 'SOUTHAFRICA_3039.csv',
 'SOUTHKOREA_7544.csv',
 'SPAIN_13077.csv',
 'SRILANKA_240.csv',
 'SUDAN_73.csv',
 'SWEDEN_5867.csv',
 'SWITZERLAND_4680.csv',
 'SYRIA_53.csv',
 'TAIWAN_6364.csv',
 'TAJIKISTAN_41.csv',
 'TANZANIA_255.csv',
 'THAILAND_860.csv',
 'TOGO_13.csv',
 'TRINIDADTOBAGO_74.csv',
 'TUNISIA_621.csv',
 'TURKEY_3287.csv',
 'UAE_469.csv',
 'UGANDA_78.csv',
 'UKRAINE_835.csv',
 'UK_33571.csv',
 'URAGUAY_361.csv',
 'USA_113096.csv',
 'UZBEKISTAN_60.csv',
 'VANUATU_19.csv',
 'VENEZUELA_244.csv',
 'VIETNAM_1114.csv',
 'YEMEN_53.csv',
 'ZAMBIA_31.csv',
 'ZIMBABWE_72.csv']

In [116]:
df = pd.DataFrame(columns=['Country', 'P', 'P%', 'dir'])
i = 0
total_number = 0
for country_ in country_list:
    country = country_.split('_')[0]
    number = country_.split('_')[1].split('.')[0]
    df.loc[i, 'Country'] = country
    df.loc[i, 'P'] = int(number)
    df.loc[i, 'P%'] = int(number)/353659*100
    df.loc[i, 'dir'] = country_
    i = i+1
    total_number += int(number)

In [117]:
total_number

502193

In [118]:
df_country = df.sort_values(by='P', ascending=False)

In [123]:
df_country = df_country.reset_index(drop=True)

In [212]:
df_country[:20]

       Country       P         P%                   dir          C        CPP
0          USA  113096  31.978827        USA_113096.csv  4110359.0  36.343982
1        CHINA   56320  15.924945       CHINA_56320.csv   790522.0  14.036257
2           UK   33571   9.492477          UK_33571.csv  1301358.0  38.764350
3      GERMANY   23982   6.781108     GERMANY_23982.csv   874399.0  36.460637
4       FRANCE   23601   6.673377      FRANCE_23601.csv   825490.0  34.976908
5       CANADA   20771   5.873172      CANADA_20771.csv   691561.0  33.294545
6    AUSTRALIA   20434   5.777882   AUSTRALIA_20434.csv   702964.0  34.401683
7        JAPAN   16361   4.626208       JAPAN_16361.csv   414318.0  25.323513
8       RUSSIA   15654   4.426298      RUSSIA_15654.csv   158686.0  10.137090
9        ITALY   14159   4.003574       ITALY_14159.csv   375066.0  26.489583
10       SPAIN   13077    3.69763       SPAIN_13077.csv   382431.0  29.244552
11       INDIA   13026   3.683209       INDIA_13026.csv   185246.0  14.221250
12  NETHERLAND   10395   2.939272  NETHERLAND_10395.csv   404900.0  38.951419
13      NORWAY    9482   2.681114       NORWAY_9482.csv   294406.0  31.048935
14  SOUTHKOREA    7544   2.133128   SOUTHKOREA_7544.csv   146369.0  19.402041
15      BRAZIL    6568   1.857156       BRAZIL_6568.csv   120609.0  18.363124
16      TAIWAN    6364   1.799474       TAIWAN_6364.csv   111342.0  17.495600
17      SWEDEN    5867   1.658943       SWEDEN_5867.csv   229898.0  39.184933
18  NEWZEALAND    5500    1.55517   NEWZEALAND_5500.csv   154825.0  28.150000
19     DENMARK    5417   1.531701      DENMARK_5417.csv   219624.0  40.543474

In [171]:
data_dir = 'D:/abstract/wos_0531/bib_360446/country_number/'
for i in range(150,151):
    country_dir = data_dir + df_country.loc[i, 'dir']
    country_df = pd.read_csv(country_dir, engine='python')
    df_country.loc[i, 'C'] = sum(country_df['Times Cited, WoS Core'])
    df_country.loc[i, 'CPP'] = sum(country_df['Times Cited, WoS Core'])/df_country.loc[i, 'P']
    for j in range(len(country_df)):
        if type(country_df.loc[j, 'Addresses']) != float:
            country_address = re.sub('\[.*?\]','',country_df.loc[j, 'Addresses'])
            #country_address = 'Chad'
            addresses = country_address.split(';')
            author_countries = []
            for a in addresses:
                country_name = a.split(',')[-1].strip()
                if 'USA' in country_name:
                    country_name = 'USA'
                author_countries.append(country_name)
            country_df.loc[j, 'First Country'] = author_countries[0]
            country_df.loc[j, 'Countries'] = ','.join(set(author_countries))
            country_df.loc[j, 'If Independent'] = (len(list(set(author_countries)))==1)
    country_df.to_csv('D:/abstract/wos_0531/bib_360446/country_number/top20/'+df_country.loc[i, 'dir'], index=False)

In [197]:
file_dir

'ZIMBABWE_72.csv'

In [266]:
data_dir = 'D:/abstract/wos_0531/bib_360446/country_number/top20/'

i = 0
country_dir = data_dir + df_country.loc[i, 'dir']
country_df = pd.read_csv(country_dir, engine='python')

IP = 0
CP = 0
FP = 0
IPP = 0
CPP = 0
for j in range(len(country_df)):
    if country_df.loc[j, 'First Country'] == 'USA':
        FP += 1
        if country_df.loc[j, 'If Independent'] == True:
            IP += 1
            IPP += int(country_df.loc[j, 'Times Cited, WoS Core'])
        else:
            CP += 1
            CPP += int(country_df.loc[j, 'Times Cited, WoS Core'])
    else:
        CP += 1
        CPP += int(country_df.loc[j, 'Times Cited, WoS Core'])
            
df_country.loc[i, 'IP'] = IP
df_country.loc[i, 'IP%'] = IP/254654
df_country.loc[i, 'ICPP'] = IPP/IP
df_country.loc[i, 'CP'] = CP
df_country.loc[i, 'CP%'] = FP/99005
df_country.loc[i, 'CCPP'] = CPP/CP
df_country.loc[i, 'FP'] = FP
df_country.loc[i, 'FP%'] = FP/df_country.loc[i, 'P']

In [267]:
df_country[:20]

,Country,P,P%,dir,C,CPP,IP,IP%,ICPP,CP,CP%,CCPP,FP,FP%
0,USA,113096,31.978827,USA_113096.csv,4110359.0,36.343982,60849.0,0.238948,33.886736,52247.0,0.771294,39.205792,76362.0,0.675196
1,CHINA,56320,15.924945,CHINA_56320.csv,790522.0,14.036257,36927.0,0.145009,9.743683,19393.0,0.512590,22.209921,50749.0,0.901083
2,UK,33571,9.492477,UK_33571.csv,1301358.0,38.764350,10787.0,0.042359,32.769445,22784.0,0.180082,41.602616,17829.0,0.531083
3,GERMANY,23982,6.781108,GERMANY_23982.csv,874399.0,36.460637,7297.0,0.028655,27.551185,16685.0,0.129044,40.357087,12776.0,0.532733
4,FRANCE,23601,6.673377,FRANCE_23601.csv,825490.0,34.976908,7234.0,0.028407,27.295272,16367.0,0.124822,38.372090,12358.0,0.523622
5,CANADA,20771,5.873172,CANADA_20771.csv,691561.0,33.294545,7861.0,0.030869,23.969851,12910.0,0.115146,38.972424,11400.0,0.548842
6,AUSTRALIA,20434,5.777882,AUSTRALIA_20434.csv,702964.0,34.401683,8159.0,0.032040,28.114475,12275.0,0.120156,38.580692,11896.0,0.582167
7,JAPAN,16361,4.626208,JAPAN_16361.csv,414318.0,25.323513,8515.0,0.033438,16.330358,7846.0,0.110934,35.083482,10983.0,0.671291
8,RUSSIA,15654,4.426298,RUSSIA_15654.csv,158686.0,10.137090,10718.0,0.042088,3.834671,4936.0,0.124792,23.822123,12355.0,0.789255
9,ITALY,14159,4.003574,ITALY_14159.csv,375066.0,26.489583,6114.0,0.024009,18.723095,8045.0,0.091571,32.391920,9066.0,0.640299
10,SPAIN,13077,3.69763,SPAIN_13077.csv,382431.0,29.244552,4869.0,0.019120,22.854590,8208.0,0.082895,33.035088,8207.0,0.627590
11,INDIA,13026,3.683209,INDIA_13026.csv,185246.0,14.221250,9409.0,0.036948,11.238070,3617.0,0.109611,21.981476,10852.0,0.833103
12,NETHERLAND,10395,2.939272,NETHERLAND_10395.csv,404900.0,38.951419,2828.0,0.011105,31.761669,7567.0,0.051159,41.638430,5065.0,0.487253
13,NORWAY,9482,2.681114,NORWAY_9482.csv,294406.0,31.048935,2968.0,0.011655,22.366240,6514.0,0.050098,35.005066,4960.0,0.523096
14,SOUTHKOREA,7544,2.133128,SOUTHKOREA_7544.csv,146369.0,19.402041,4175.0,0.016395,10.255808,3369.0,0.057815,30.736420,5724.0,0.758749
15,BRAZIL,6568,1.857156,BRAZIL_6568.csv,120609.0,18.363124,3287.0,0.012908,11.992699,3281.0,0.048301,24.745200,4782.0,0.728076
16,TAIWAN,6364,1.799474,TAIWAN_6364.csv,111342.0,17.495600,3635.0,0.014274,11.922696,2729.0,0.048634,24.918652,4815.0,0.756600
17,SWEDEN,5867,1.658943,SWEDEN_5867.csv,229898.0,39.184933,1473.0,0.005784,28.632043,4394.0,0.027817,42.722576,2754.0,0.469405
18,NEWZEALAND,5500,1.55517,NEWZEALAND_5500.csv,154825.0,28.150000,2189.0,0.008596,21.199178,3311.0,0.032271,32.745394,3195.0,0.580909
19,DENMARK,5417,1.531701,DENMARK_5417.csv,219624.0,40.543474,1203.0,0.004724,35.701579,4214.0,0.023676,41.925724,2344.0,0.432712

In [268]:
df_country.to_csv('D:/abstract/wos_0531/bib_360446/country_number/country_statistic.csv', index=False)

In [284]:
data_dir = 'D:/abstract/wos_0531/bib_360446/country_number/top20/'
for i in range(20):
    country_dir = data_dir + df_country.loc[i, 'dir']
    country_df = pd.read_csv(country_dir, engine='python')
    countries = []
    for j in range(len(country_df)):
        country = country_df.loc[j, 'Countries']
        if type(country)==str:
            countries = countries + country.split(',')
    dic = {}
    for key in countries:
        dic[key]=dic.get(key,0)+1
    dic_ = sorted(dic.items(),key = lambda x:x[1],reverse = True)
    df_country.loc[i, 'MC'] = dic_[1][0]
    df_country.loc[i, 'MCP'] = dic_[1][1]
    df_country.loc[i, 'MCP%'] = dic_[1][1]/df_country.loc[i, 'P']

In [285]:
df_country[:20]

,Country,P,P%,dir,C,CPP,IP,IP%,ICPP,CP,CP%,CCPP,FP,FP%,MC,MCP,MCP%
0,USA,113096,31.978827,USA_113096.csv,4110359.0,36.343982,60849.0,0.238948,33.886736,52247.0,0.771294,39.205792,76362.0,0.675196,Peoples R China,8696.0,0.076890
1,CHINA,56320,15.924945,CHINA_56320.csv,790522.0,14.036257,36927.0,0.145009,9.743683,19393.0,0.512590,22.209921,50749.0,0.901083,USA,8690.0,0.154297
2,UK,33571,9.492477,UK_33571.csv,1301358.0,38.764350,10787.0,0.042359,32.769445,22784.0,0.180082,41.602616,17829.0,0.531083,USA,6570.0,0.195705
3,GERMANY,23982,6.781108,GERMANY_23982.csv,874399.0,36.460637,7297.0,0.028655,27.551185,16685.0,0.129044,40.357087,12776.0,0.532733,USA,4389.0,0.183012
4,FRANCE,23601,6.673377,FRANCE_23601.csv,825490.0,34.976908,7234.0,0.028407,27.295272,16367.0,0.124822,38.372090,12358.0,0.523622,USA,4292.0,0.181857
5,CANADA,20771,5.873172,CANADA_20771.csv,691561.0,33.294545,7861.0,0.030869,23.969851,12910.0,0.115146,38.972424,11400.0,0.548842,USA,5051.0,0.243176
6,AUSTRALIA,20434,5.777882,AUSTRALIA_20434.csv,702964.0,34.401683,8159.0,0.032040,28.114475,12275.0,0.120156,38.580692,11896.0,0.582167,USA,3763.0,0.184154
7,JAPAN,16361,4.626208,JAPAN_16361.csv,414318.0,25.323513,8515.0,0.033438,16.330358,7846.0,0.110934,35.083482,10983.0,0.671291,USA,2400.0,0.146690
8,RUSSIA,15654,4.426298,RUSSIA_15654.csv,158686.0,10.137090,10718.0,0.042088,3.834671,4936.0,0.124792,23.822123,12355.0,0.789255,USA,1030.0,0.065798
9,ITALY,14159,4.003574,ITALY_14159.csv,375066.0,26.489583,6114.0,0.024009,18.723095,8045.0,0.091571,32.391920,9066.0,0.640299,USA,2095.0,0.147962
10,SPAIN,13077,3.69763,SPAIN_13077.csv,382431.0,29.244552,4869.0,0.019120,22.854590,8208.0,0.082895,33.035088,8207.0,0.627590,USA,1877.0,0.143534
11,INDIA,13026,3.683209,INDIA_13026.csv,185246.0,14.221250,9409.0,0.036948,11.238070,3617.0,0.109611,21.981476,10852.0,0.833103,USA,900.0,0.069093
12,NETHERLAND,10395,2.939272,NETHERLAND_10395.csv,404900.0,38.951419,2828.0,0.011105,31.761669,7567.0,0.051159,41.638430,5065.0,0.487253,USA,1715.0,0.164983
13,NORWAY,9482,2.681114,NORWAY_9482.csv,294406.0,31.048935,2968.0,0.011655,22.366240,6514.0,0.050098,35.005066,4960.0,0.523096,USA,1656.0,0.174647
14,SOUTHKOREA,7544,2.133128,SOUTHKOREA_7544.csv,146369.0,19.402041,4175.0,0.016395,10.255808,3369.0,0.057815,30.736420,5724.0,0.758749,USA,1553.0,0.205859
15,BRAZIL,6568,1.857156,BRAZIL_6568.csv,120609.0,18.363124,3287.0,0.012908,11.992699,3281.0,0.048301,24.745200,4782.0,0.728076,USA,1021.0,0.155451
16,TAIWAN,6364,1.799474,TAIWAN_6364.csv,111342.0,17.495600,3635.0,0.014274,11.922696,2729.0,0.048634,24.918652,4815.0,0.756600,USA,1264.0,0.198617
17,SWEDEN,5867,1.658943,SWEDEN_5867.csv,229898.0,39.184933,1473.0,0.005784,28.632043,4394.0,0.027817,42.722576,2754.0,0.469405,USA,1151.0,0.196182
18,NEWZEALAND,5500,1.55517,NEWZEALAND_5500.csv,154825.0,28.150000,2189.0,0.008596,21.199178,3311.0,0.032271,32.745394,3195.0,0.580909,USA,1112.0,0.202182
19,DENMARK,5417,1.531701,DENMARK_5417.csv,219624.0,40.543474,1203.0,0.004724,35.701579,4214.0,0.023676,41.925724,2344.0,0.432712,USA,984.0,0.181650

In [286]:
df_country.to_csv('D:/abstract/wos_0531/bib_360446/country_number/country_statistic.csv', index=False)