In [1]:
import pandas as pd
import os
import re

In [24]:
data_dir = 'D:/abstract/wos_0531/bib_360446/drop_duplicates_353659.csv'
P = {}
C = {}
IP = {}
CP = {}
FP = {}
institution_df = pd.read_csv(data_dir, engine='python')
for j in range(len(institution_df)):
    if type(institution_df.loc[j, 'Addresses']) != float:
        country_address = re.sub('\[.*?\]','',institution_df.loc[j, 'Addresses'])
        addresses = country_address.split(';')
        institutions = []
        for a in addresses:
            institution_name = a.split(',')[0].strip()
            P[institution_name]=P.get(institution_name,0)+1
            C[institution_name]=C.get(institution_name,0)+institution_df.loc[j, 'Times Cited, WoS Core']
            institutions.append(institution_name)
            if a == addresses[0]:
                FP[institution_name]=FP.get(institution_name,0)+1
        if len(set(institutions)) == 1:
            IP[institution_name]=IP.get(institution_name,0)+1
        else:
            for ins in institutions:
                CP[ins]=CP.get(ins,0)+1

In [53]:
data_dir = 'D:/abstract/wos_0531/bib_360446/drop_duplicates_353659.csv'
P = {}
C = {}
IP = {}
CIP = {}
CP = {}
CCP = {}
FP = {}
institution_df = pd.read_csv(data_dir, engine='python')
for j in range(len(institution_df)):
    if type(institution_df.loc[j, 'Addresses']) != float:
        country_address = re.sub('\[.*?\]','',institution_df.loc[j, 'Addresses'])
        addresses = country_address.split(';')
        institutions = []
        for a in addresses:
            institution_name = a.split(',')[0].strip()
            institutions.append(institution_name)
            if a == addresses[0]:
                FP[institution_name]=FP.get(institution_name,0)+1
        institutions = list(set(institutions))
        if len(institutions) == 1:
            IP[institution_name]=IP.get(institution_name,0)+1
            CIP[institution_name]=CIP.get(institution_name,0)+institution_df.loc[j, 'Times Cited, WoS Core']
            P[institution_name]=P.get(institution_name,0)+1
            C[institution_name]=C.get(institution_name,0)+institution_df.loc[j, 'Times Cited, WoS Core']
        else:
            for ins in institutions:
                CP[ins]=CP.get(ins,0)+1
                CCP[ins]=CCP.get(ins,0)+institution_df.loc[j, 'Times Cited, WoS Core']
                P[ins]=P.get(ins,0)+1
                C[ins]=C.get(ins,0)+institution_df.loc[j, 'Times Cited, WoS Core']

In [38]:
P_s = sorted(P.items(),key = lambda x:x[1],reverse = True)

In [42]:
FP_s = sorted(FP.items(),key = lambda x:x[1],reverse = True)

In [45]:
for i in range(20):
    print(P_s[i])

('Chinese Acad Sci', 14819)
('Russian Acad Sci', 8526)
('NOAA', 7231)
('Woods Hole Oceanog Inst', 5303)
('Univ Washington', 5068)
('Ocean Univ China', 4794)
('Univ Chinese Acad Sci', 4397)
('Univ Calif San Diego', 3886)
('US Geol Survey', 3353)
('Univ Tokyo', 3216)
('Oregon State Univ', 3062)
('NASA', 3055)
('Columbia Univ', 2725)
('USN', 2705)
('Texas A&M Univ', 2587)
('Univ Miami', 2563)
('CALTECH', 2560)
('IFREMER', 2530)
('Univ Colorado', 2516)
('CSIC', 2506)

In [46]:
ins_df = pd.DataFrame()

In [48]:
for i in range(20):
    ins_df.loc[i, 'Institution'] = P_s[i][0]

In [52]:
ins_df

                Institution Country
0          Chinese Acad Sci   China
1          Russian Acad Sci  Russia
2                      NOAA     USA
3   Woods Hole Oceanog Inst     USA
4           Univ Washington     USA
5          Ocean Univ China   China
6     Univ Chinese Acad Sci   China
7      Univ Calif San Diego     USA
8            US Geol Survey     USA
9                Univ Tokyo   Japan
10        Oregon State Univ     USA
11                     NASA     USA
12            Columbia Univ     USA
13                      USN     USA
14           Texas A&M Univ     USA
15               Univ Miami     USA
16                  CALTECH     USA
17                  IFREMER  France
18            Univ Colorado     USA
19                     CSIC   China

In [50]:
ins_df.loc[0, 'Country'] = 'China'
ins_df.loc[1, 'Country'] = 'Russia'
ins_df.loc[2, 'Country'] = 'USA'
ins_df.loc[3, 'Country'] = 'USA'
ins_df.loc[4, 'Country'] = 'USA'
ins_df.loc[5, 'Country'] = 'China'
ins_df.loc[6, 'Country'] = 'China'
ins_df.loc[7, 'Country'] = 'USA'
ins_df.loc[8, 'Country'] = 'USA'
ins_df.loc[9, 'Country'] = 'Japan'
ins_df.loc[10, 'Country'] = 'USA'
ins_df.loc[11, 'Country'] = 'USA'
ins_df.loc[12, 'Country'] = 'USA'
ins_df.loc[13, 'Country'] = 'USA'
ins_df.loc[14, 'Country'] = 'USA'
ins_df.loc[15, 'Country'] = 'USA'
ins_df.loc[16, 'Country'] = 'USA'
ins_df.loc[17, 'Country'] = 'France'
ins_df.loc[18, 'Country'] = 'USA'
ins_df.loc[19, 'Country'] = 'China'

In [58]:
for i in range(20):
    institution = ins_df.loc[i, 'Institution']
    ins_df.loc[i, 'P'] = P[institution]
    ins_df.loc[i, 'P%'] = P[institution]/353659
    ins_df.loc[i, 'C'] = C[institution]
    ins_df.loc[i, 'CPP'] = C[institution]/P[institution]
    ins_df.loc[i, 'IP'] = IP[institution]
    ins_df.loc[i, 'CIP'] = CIP[institution]/IP[institution]
    ins_df.loc[i, 'CP'] = CP[institution]
    ins_df.loc[i, 'CCP'] = CCP[institution]/CP[institution]
    ins_df.loc[i, 'FP'] = FP[institution]
    ins_df.loc[i, 'FP%'] = FP[institution]/P[institution]

In [59]:
ins_df

,Institution,Country,P,P%,C,CPP,IP,CIP,CP,CCP,FP,FP%
0,Chinese Acad Sci,China,14819.0,0.041902,276767.0,18.676496,2046.0,15.582600,12773.0,19.172082,9294.0,0.627168
1,Russian Acad Sci,Russia,8526.0,0.024108,74328.0,8.717804,4716.0,4.329092,3810.0,14.150131,6840.0,0.802252
2,NOAA,USA,7231.0,0.020446,346103.0,47.863781,1554.0,33.189833,5677.0,51.880571,3237.0,0.447656
3,Woods Hole Oceanog Inst,USA,5303.0,0.014995,235853.0,44.475391,1105.0,31.123982,4198.0,47.989757,2406.0,0.453705
4,Univ Washington,USA,5068.0,0.014330,256010.0,50.514996,1139.0,43.615452,3929.0,52.515144,2413.0,0.476125
5,Ocean Univ China,China,4794.0,0.013555,61938.0,12.919900,1013.0,8.363277,3781.0,14.140704,3416.0,0.712557
6,Univ Chinese Acad Sci,China,4397.0,0.012433,50480.0,11.480555,15.0,8.200000,4382.0,11.491785,91.0,0.020696
7,Univ Calif San Diego,USA,3886.0,0.010988,179473.0,46.184508,995.0,37.227136,2891.0,49.267382,2046.0,0.526505
8,US Geol Survey,USA,3353.0,0.009481,146080.0,43.566955,630.0,41.496825,2723.0,44.045905,1543.0,0.460185
9,Univ Tokyo,Japan,3216.0,0.009094,96067.0,29.871580,587.0,21.161840,2629.0,31.816280,1545.0,0.480410
10,Oregon State Univ,USA,3062.0,0.008658,147135.0,48.051927,578.0,45.737024,2484.0,48.590580,1445.0,0.471914
11,NASA,USA,3055.0,0.008638,158742.0,51.961375,545.0,35.073394,2510.0,55.628287,1284.0,0.420295
12,Columbia Univ,USA,2725.0,0.007705,148515.0,54.500917,385.0,53.618182,2340.0,54.646154,1072.0,0.393394
13,USN,USA,2705.0,0.007649,76736.0,28.368207,1351.0,12.923760,1354.0,43.778434,1919.0,0.709427
14,Texas A&M Univ,USA,2587.0,0.007315,81719.0,31.588326,534.0,23.953184,2053.0,33.574282,1140.0,0.440665
15,Univ Miami,USA,2563.0,0.007247,113707.0,44.364807,549.0,33.229508,2014.0,47.400199,1303.0,0.508389
16,CALTECH,USA,2560.0,0.007239,111576.0,43.584375,527.0,28.745731,2033.0,47.430890,1166.0,0.455469
17,IFREMER,France,2530.0,0.007154,89231.0,35.269170,454.0,26.685022,2076.0,37.146435,1079.0,0.426482
18,Univ Colorado,USA,2516.0,0.007114,138276.0,54.958665,416.0,39.990385,2100.0,57.923810,1098.0,0.436407
19,CSIC,China,2506.0,0.007086,96675.0,38.577414,423.0,37.255319,2083.0,38.845895,1247.0,0.497606

In [60]:
ins_df.loc[19, 'Country'] = 'Spain'

In [61]:
ins_df.to_csv('D:/abstract/wos_0531/bib_360446/country_number/institution_statistic.csv', index=False)